.page-footer {
  min-width: 320px;
  .auto-margin;
  text-align: center;
  background-color: @secondary-color;
  position: relative;
}

.page-footer--index {
  // background-image: linear-gradient(@main-color 200px, @secondary-color 200px);
}

.page-footer__wrapper {
  margin-top: 12px;
}

.page-footer__social-wrapper {
  margin: 0 auto;
}

.page-footer__map {
  width: 100%;
  height: 363px;
  background-image: url("../img/map-pin.png"),
    url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 61px auto, 320px 363px;
  background-position: 50% 57%, center;
  .auto-margin;
  margin-bottom: 30px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/map-pin.png"),
      url("../img/bg-map-mobile@2x.png");
    background-size: 61px auto, 320px auto;
  }
}

.page-footer__imap--index {
  width: 100%;
  height: 363px;
  z-index: 1;
}

.page-footer__contacts-wrapper--white {
  background-color: @main-color;
}

.page-footer__logo {
  margin-top: 7px;
  margin-bottom: 28px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__map {
    width: 100%;
    height: 396px;
    background-image: url("../img/map-pin.png"),
      url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 123px auto, 768px 396px;
    background-position: 50% 70%, center;
    margin: 0 auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/map-pin.png"),
        url("../img/bg-map-tablet@2x.png");
      background-size: 123px auto, 100% auto;
    }
  }

  .page-footer__wrapper {
    display: flex;
    width: 100%;
    min-height: 145px;
  }

  .page-footer__social-wrapper {
    display: flex;
    margin-right: 4%;
    width: 500px;
    margin-left: 0%;
    flex-grow: 1;
  }

  .page-footer__logo {
    margin-top: 49px;
    margin-left: 30px;
    margin-right: 0;
  }

  .page-footer__imap {
    height: 396px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    max-width: 100%;
    .auto-margin;
    position: relative;
  }

  .page-footer__map {
    width: 100%;
    height: 400px;
    background-image: url("../img/map-pin.png"),
      url("../img/bg-map-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: 122px auto, 1440px auto;
    background-position: 1000px 52%, 50% 50%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/map-pin.png"),
        url("../img/bg-map-desktop@2x.png");
      background-size: 122px auto, 1440px auto;
    }
  }

  .page-footer__contacts {
    background-color: @main-color;
    position: absolute;
    top: 100px;
    left: -324px;
  }

  .page-footer__contacts-wrapper {
    width: 570px;
    height: 0;
    max-width: 1300px;
    box-sizing: border-box;
    .auto-margin;
    position: relative;
  }

  .page-footer__imap--index {
    width: 100%;
    height: 400px;
  }

  .page-footer__wrapper {
    max-width: 1300px;
    .auto-margin;
    min-height: 141px;
    padding-top: 0;
  }

  .page-footer__logo {
    margin-left: 40px;
    margin-right: 34px;
    margin-top: 53px;
  }

  .page-footer__social-wrapper {
    margin: 0;
    padding: 0;
    width: 1000px;
  }
}
