.bio {
  margin-bottom: 17px;
  .form-text;
  .standard-padding;
}

.bio__items {
  width: 100%;
  min-height: 45px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.bio__label {
  padding-top: 12px;
  padding-right: 17px;
}

.bio__input {
  margin-left: auto;
  border: 1px solid @border-color;
  padding-left: 10px;
  flex-grow: 1;
}

@media (min-width: @tablet-width) {
  .bio {
    width: auto;
    margin: 0;
    .font(20px;20px;400);
    padding-right: 5%;
  }

  .bio__items {
    width: auto;
    padding-bottom: 17px;
  }

  .bio__label {
    padding-right: 20px;
    padding-top: 10px;
  }

  .bio__input {
    flex-grow: 1;
  }
}

@media (min-width: @desktop-width) {
  .bio {
    width: 47%;
    margin: 0;
    .font(20px;20px;400);
    margin-right: 3%;
    padding-left: 3%;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: -17px;
  }

  .bio__items {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 17px;
  }

  .bio__input {
    min-height: 51px;
    padding-left: 19px;
  }

  .bio__label {
    padding-top: 19px;
  }
}
