.cat-contacts__item {
  display: flex;
}

.cat-contacts__input {
  margin-left: auto;
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid @border-color;
  .form-text;
  width: 60%;
}

.cat-contacts__label {
  margin-top: 10px;
}
