@button-color: #68b738;
@main-color: #ffffff;
@secondary-color:#f2f2f2;
@secondary-text-color: #444444;
@border-color: #e6e6e6;
@tablet-width: 768px;
@tablet-padding: 30px;

body {
  background: @main-color;
  font-family: "Oswald", sans-serif;
  min-width: 320px;
  padding: 0;
  margin: 0;
}

.auto-margin {
  margin-left: auto;
  margin-right: auto;
}

.link-decor-off {
  text-decoration: none;
  color: black;
}

.ul-decor-off {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button-decor-off {
  background-color: @main-color;
  border: none;
}

.visualy-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.arial(@size;@line;@weight:400) {
  font-family: "Arial", sans-serif;
  font-size: @size;
  line-height: @line;
  font-weight: @weight;
}
.font(@size;@height;@weight;@up: uppercase) {
  font-size: @size;
  line-height: @height;
  font-weight: @weight;
  text-transform: @up;
}

.standard-padding (@left-right:6%) {
  padding-left: @left-right;
  padding-right: @left-right;
}

.form-text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .body {
    min-width: 768px;
  }
}
