.contacts {
  display: flex;
  padding: 20px;
  padding-top: 4px;
  padding-bottom: 24px;
}

.contacts__invite {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  margin-right: 16px;
  width: 125px;
  margin-left: -1px;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: @secondary-text-color;
  width: 135px;
}

.contacts__spb {
  display: none;
}

@media (min-width: @tablet-width) {
  .contacts {
    min-height: 200px;
    padding: 6.5% 9.2%;
    box-sizing: border-box;
    background-color: @secondary-color;
  }

  .contacts__invite {
    .font(20px;25px;400;uppercase);
    width: 25%;
  }

  .contacts__address {
    width: 25%;
    margin-left: auto;
    .arial(16px;20px;400);
    text-align: right;
  }

  .contacts__spb {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .contacts--catalog {
    width: 570px;
    height: 201px;
    background-color: @main-color;
    margin-left: 3%;
    margin-top: -12px;
    padding-left: 70px;
    padding-top: 60px;
    padding-right: 50px;
    position: relative;
    z-index: 2;
  }

  .contacts__invite {
    .font(20px;25px;400;uppercase);
    width: auto;
    padding: 0;
    margin-top: 0;
    margin-left: 6px;
  }

  .contacts__address {
    width: auto;
    margin-left: auto;
    .arial(16px;20px;400);
    text-align: left;
    padding-left: 50px;
    padding-right: 0;
    margin-top: 0;
  }

  .page-footer__map {
    max-width: 1440px;
  }
}
