.diets {
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
  .standard-padding;
}

.diets__trend {
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .diets {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media (min-width: @desktop-width) {
  .diets {
    display: flex;
    padding-left: 8%;
  }

  .diets__trend:last-child {
    margin-left: 5%;
  }
}
