.diet-mode {
  background-color: @secondary-color;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  min-height: 226px;
}

.diet-mode__divline {
  border-top: 1px solid @border-color;
  margin-top: 20px;
  margin-bottom: 20px;
}

.diet-mode__text {
  width: 227px;
  .arial(14px,18px,400);
}

.diet-mode__to-catalog {
  .link-decor-off;
  text-transform: uppercase;
}

.diet-mode__arrow {
  margin-left: 10px;
  padding-bottom: 3px;
}
