.diet-mode {
  display: flex;
  flex-wrap: wrap;
}

.diet-mode-title {
  background-color: @button-color;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.diet-mode-title__img--muscle {
  margin-left: -10px;
}

.diet-mode-title__header {
  margin-left: 5%;
  .font(24px;37px;400;uppercase);
  margin-top: 10px;
}

.diet-mode__text {
  .arial(14px;18px;400);
}

@media (min-width: @tablet-width) {

  .diet-mode {
    width: 100%;
  }

  .diet-mode-title {
    width: 200px;
    height: 200px;
  }

  .diet-mode-title__img {
    width: 230px;
    height: 190px;
  }

  .diet-mode-title__header {
    margin-left: 0;
    .font(36px;37px;400;uppercase);
    margin-top: 10px;
  }

  .diet-mode__text {
    .arial(16px;24px;400);
    width: 380px;
  }

  .diet-mode__to-catalog {
    .font(20px;20px;400;uppercase);
  }

}

