.diet-mode-title {
  background-color: @button-color;
  border-radius: 50%;
  width: 53px;
  height: 53px;
  margin-top: 1px;
  margin-left: 4px;
}

.diet-mode-title__img--muscle {
  margin-left: -10px;
}

.diet-mode-title__img {
  margin-left: -8px;
  height: 50px;
}

@media (min-width: @tablet-width) {
  .diet-mode-title {
    width: 200px;
    height: 200px;
    float: right;
    margin-top: 23px;
    margin-right: 27px;
  }

  .diet-mode-title__img {
    width: 258px;
    height: 196px;
    margin-top: -14px;
    margin-left: -31px;
  }

  .diet-mode-title__img--muscle {
    margin-top: -3px;
    width: 266px;
  }
}

@media (min-width: @desktop-width) {
  .diet-mode-title {
    width: 100px;
    height: 100px;
    margin-top: 26px;
  }

  .diet-mode-title__img {
    width: 135px;
    height: 100px;
    margin-left: -15px;
  }

  .diet-mode-title__img--defating {
    width: 134px;
    height: 102px;
    margin-left: -19px;
    margin-top: -10px;
  }
}
