.diet-mode {
  background-color: @secondary-color;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 6%;
  padding-right: 6%;
  width: 88%;
  min-height: 220px;
  display: flex;
  flex-wrap: wrap;
}

.diet-mode__divline {
  border-top: 1px solid @border-color;
  margin-top: 20px;
  margin-bottom: 20px;
}

.diet-mode__text {
  min-width: 230px;
  .arial(14px, 18px, 400);
  color: @secondary-text-color;
  margin-top: 6px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-bottom: 1px solid @border-color;
}

.diet-mode__to-catalog {
  .link-decor-off;
  text-transform: uppercase;
  width: 35%;
  margin-top: 0;
  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 23px;
    height: 10px;
    background-image: url(../img/icon-right-arrow-long.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 7px;
    left: 100px;
  }
  &:hover::after,
  &:focus::after {
    width: 35px;
    height: 10px;
    background-image: url(../img/icon-right-arrow-verylong.svg);
  }
}

.diet-mode__header {
  margin-left: 7%;
  .font(24px;37px;400;uppercase);
  margin-top: 8px;
}

@media (min-width: @tablet-width) {
  .diet-mode {
    width: 88%;
    display: block;
    padding-top: 70px;
    padding-left: 7%;
  }

  .diet-mode__header {
    margin-left: 1px;
    .font(36px;37px;400;uppercase);
    margin-top: 6px;
    margin-bottom: 25px;
  }

  .diet-mode__text {
    .arial(16px;24px;400);
    width: 344px;
    border: none;
    padding-bottom: 0;
  }

  .diet-mode__to-catalog {
    .font(20px;20px;400;uppercase);
    display: block;
    margin-top: 55px;
    margin-bottom: 40px;
    border: none;
    width: 19%;
    &::after {
      left: 134px;
    }
  }

  .diet-mode__arrow {
    padding-bottom: 3px;
    padding-left: 10px;
  }
}

@media (min-width: @desktop-width) {
  .diet-mode {
    width: 50%;
    display: flex;
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 20px;
    margin-right: auto;
    padding-right: 20px;
  }

  .diet-mode__header {
    margin-left: 8%;
    margin-top: 50px;
  }

  .diet-mode__text {
    margin-top: 37px;
    width: 100%;
  }

  .diet-mode__to-catalog {
    margin-top: 18px;
    width: 25%;
  }
}
