.example {
  background-color: @secondary-color;
  padding-left: 20px;
  padding-right: 22px;
}

.example__text {
  .small-arial;
}

.example__img--fat-cat {
  background-image: url("../img/before-mobile@1x.png");
}

.example__img--grace-cat {
  background-image: url("../img/after-mobile@1x.png");
}

.example__img {
  width: 320px;
  height: 230px;
}

.example__cat-switcher {
  margin-top: 34px;
  padding-bottom: 34px;
}

.example__cost {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
}
