.html-academy {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 12px;
}

.html-academy__name {
  margin-right: auto;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  padding-top: 10px;
}

.html-academy__link {
  margin-right: -5px;
}

@media (min-width: @tablet-width) {
  .html-academy {
    flex-wrap: nowrap;
    padding-top: 30px;
    flex-grow: 1;
    width: 170px;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }

  .html-academy__name {
    margin-top:12px;
    margin-left: auto;
    margin-right: 13px;
  }

  .html-academy__link {
    margin-top: 10px;
  }
}

@media (min-width: @desktop-width) {
  .html-academy {
    flex-wrap: nowrap;
    flex-grow: 0;
    width: 170px;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: 42px;
    margin-top: 4px;
  }
}
