.main-nav__toggle--close {
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  .button-decor-off;
  width: 22px;
  height: 22px;
  margin-top: 12px;
  margin-right: 20px;
}

.main-nav {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    margin-left: auto;
    width: 66%;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 962px;
  }
}
