.page-main {
    width: 320px;
    .auto-margin;
}

.page-main__button {
    background-color: @button-color;
    text-decoration: none;
    color: white;
    display: block;
    width: 280px;
    height: 40px;
    .auto-margin;
    text-transform: uppercase;
    text-align:center;
    padding-top: 8px;
    box-sizing: border-box;
}
.page-main__section-header {
    font-weight: 400;
    line-height: 60px;
    font-size: 36px;
    margin-bottom: 20px
}
.page-main__live-example {
    margin-bottom: 25px;
}