.page-footer {
  min-width: 320px;
  .auto-margin;
  text-align: center;
  background-color: @secondary-color;
}

.page-footer__social-wrapper {
  margin: 0 auto;
}

.page-footer__map {
  width: 320px;
  height: 360px;
  background-image: url("../img/map-pin.png"),
    url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 53px auto, 100% 100%;
  background-position: 50% 50%;
  margin: 0 auto;
}

.page-footer__contacts {
  text-align: left;
}

.page-footer__logo {
  margin-top: 35px;
  margin-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .page-footer__map {
    width: 768px;
    height: 400px;
    background-image: url("../img/map-pin.png"),
      url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 113px auto, 100% 100%;
    background-position: 50% 50%;
    margin: 0 auto;
  }

  .page-footer__wrapper {
    display: flex;
    width: 100%;
  }

  .page-footer__social-wrapper {
    display: flex;
    margin-right: 4%;
    width: 20%;
    margin-left: 0%;
    flex-grow: 1;
  }

  .page-footer__logo {
    padding-left: 4%;
    margin-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__map {
    width: 1440px;
    height: 400px;
    background-image: url("../img/map-pin.png"),
      url("../img/bg-map-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: 113px auto, 100% 100%;
    background-position: 75% 50%;
    margin: 0 auto;
    padding-top: 105px;
    box-sizing: border-box;
  }
}
