.page-header {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  .auto-margin;
}

.page-header__logo {
  margin-right: auto;
  padding-left: 20px;
}

@media (min-width: @tablet-width) {
  .page-main {
    min-width: 768px;
  }

  .main-nav__toggle {
    display: none;
  }

  .page-header {
    .standard-padding(@tablet-padding);
  }

  .page-header__logo {
    margin-right: auto;
    padding-left: 10px;
    margin-top: 25px;
  }
}
