.page-main {
  min-width: 320px;
  .auto-margin;
}

.page-main__button {
  background-color: @button-color;
  text-decoration: none;
  color: white;
  display: block;
  width: 280px;
  min-height: 40px;
  .auto-margin;
  text-transform: uppercase;
  text-align: center;
  padding-top: 8px;
  box-sizing: border-box;
  border: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.page-main__button--catalog {
  padding-bottom: 7px;
  margin-bottom: 25px;
}

.page-main__button--show-all {
  background-color: @secondary-color;
  color: @secondary-text-color;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-main__section-header {
  font-weight: 400;
  line-height: 60px;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.page-main__section-header--catalog {
  border-top: 1px solid @border-color;
  border-bottom: 1px solid @border-color;
}

.page-main__header-line {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  border-top: 1px solid @border-color;
  border-bottom: 1px solid @border-color;
  padding-top: 30px;
  padding-bottom: 30px;

  &::after {
    width: 50px;
    height: 4px;
    content: "";
    background-color: @button-color;
    float: right;
    margin-top: 10px;
  }
}

.page-main__live-example {
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .page-main {
    min-width: 768px;
  }

  .page-main__button {
    background-color: @button-color;
    text-decoration: none;
    color: white;
    display: block;
    width: 245px;
    min-height: 52px;
    .auto-margin;
    text-transform: uppercase;
    text-align: center;
    padding-top: 14px;
    box-sizing: border-box;
    border: none;
    font-family: "Oswald", sans-serif;
    .font(20px;20px;400;uppercase);
  }

  .page-main__section-header {
    .font(60px; 60px; 400; none);
    margin-bottom: 40px;
    text-align: left;;
  }

  .page-main__section-header--example {
    padding-left: 4%;
    width: 350px;
  }

  .page-main__live-example {
    margin-bottom: 0;
  }

  .page-main__section-header--catalog {
    border:none;
    padding-left: 4%;
    width: 100%;
  }

  .page-main__catalog {
    display: flex;
    flex-wrap: wrap;
  }

  .page-main__button--catalog {
    width: 249px;
    height: 40px;
    .font(16px;20px;400);
  }

}

@media (min-width: @desktop-width) {
  .page-main__section-header--example {
    padding-left: 0;
    background-color: @main-color;
  }

}
