.page-header {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  .auto-margin;
}

.page-header__logo {
  margin-right: 10%;
  margin-left: 6%;
  padding-top: 10px;
}

.page-header__button {
  margin-left: auto;
  margin-top: 25px;
}

.page-header__logo-image {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .page-main {
    min-width: 768px;
  }

  .page-header {
    flex-wrap: nowrap;
  }

  .page-header__logo {
    margin-left: 2%;
    margin-top: 13px;
    margin-right: 2%;
  }
  .page-header__logo-image{
    width: 200px;
    height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    max-width: 1300px;
    box-sizing: border-box;
  }

  .page-header__logo {
    margin-left: 35px;
    margin-top: 42px;
    margin-right: 0;
  }

  .page-header__logo-image {
    width: 210px;
    height: 65px;
  }
}
