.page-footer {
  min-width: 320px;
  .auto-margin;
  text-align: center;
  background-color: @secondary-color;
}

.page-footer__social-wrapper {
  width: 320px;
  margin: 0 auto;
}

.page-footer__map {
  width: 320px;
  height: 360px;
  background-image: url("../img/map-pin.png"), url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 53px auto, 100% 100%;
  background-position: 50% 50%;
  margin: 0 auto;
}

.page-footer__contacts {
  text-align: left;
  padding: 20px;
}

.page-footer__logo {
  margin-top: 35px;
  margin-bottom: 35px;
}

.page-footer__social {
  width: 320px;
}
