.point {
  display: flex;
}

.point__img-wrapper {
  background: @button-color;
  width: 60px;
  height: 60px;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 10px;
}

.point__text {
  .arial(14px, 18px, 400);
  padding-left: 20px;
  color: @secondary-text-color;
  margin-bottom: 11px;
}

@media (min-width: @tablet-width) {
  .point {
    width: 50%;
    min-height: 315px;
    flex-direction: column;
    padding-top: 3px;
  }

  .point__text {
    .arial(16px, 24px, 400);
    padding-left: 0;
    text-align: left;
    width: 252px;
    margin-top: 30px;
  }

  .point__img-wrapper {
    background: @button-color;
    width: 80px;
    height: 80px;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 15px;
  }

  .point--1 {
    background-image: url("../img/1.svg");
    background-repeat: no-repeat;
    background-position: 45% 8px;
  }

  .point--2 {
    background-image: url("../img/2.svg");
    background-repeat: no-repeat;
    background-position: 57% 8px;
    padding-left: 24px;
    box-sizing: border-box;
  }

  .point--3 {
    background-image: url("../img/3.svg");
    background-repeat: no-repeat;
    background-position: 50% 8px;
  }

  .point--4 {
    background-image: url("../img/4.svg");
    background-repeat: no-repeat;
    background-position: 60% 8px;
    padding-left: 24px;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop-width) {
  .point {
    width: 25%;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
  }

  .point--1 {
    background-image: url("../img/1.svg");
    background-repeat: no-repeat;
    background-position: 65% 12px;
  }

  .point--2 {
    background-image: url("../img/2.svg");
    background-repeat: no-repeat;
    background-position: 75% 12px;
  }

  .point--3 {
    background-image: url("../img/3.svg");
    background-repeat: no-repeat;
    background-position: 75% 12px;
  }

  .point--4 {
    background-image: url("../img/4.svg");
    background-repeat: no-repeat;
    background-position: 80% 12px;
  }

  .point__text {
    width: 100%;
  }
}
