.product-card {
  border-bottom: 1px solid @border-color;
  width: 320px;
  margin: 0 auto;
}

.product-card__img {
  float: left;
  margin-left: 20px;
}

.product-card__header {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 20px;
}

@media (min-width: @tablet-width) {
  .product-card {
    width: 42%;
    background-color: @secondary-color;
    margin: 18% 4% 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 430px;
  }

  .product-card__img {
    width: 250px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .product-card__header {
    .font(20px;20px;400);
    width: 130px;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .product-card {
    width: 245px;
    box-sizing: border-box;
    margin: 9% 4% 0%;
  }

  .product-card__header {
    margin-bottom: 30px;
    margin-top: 10px;
  }
}
