.promo {
  background-color: @button-color;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  width: 280px;
  min-height: 289px;
  display: flex;
  flex-direction: column;
  .auto-margin;
  margin-bottom: 34px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px;
  }
}

.promo__img {
  width: 55px;
  .auto-margin;
  margin-top: 65px;
}

.promo__slogan {
  .link-decor-off;
  color: @main-color;
  .arial(16px;20px;400);
  width: 170px;
  display: block;
  .auto-margin;
  margin-top: auto;
  margin-bottom: 41px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .promo {
    width: 708px;
    min-height: 200px;
    height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    box-sizing: border-box;
    flex-direction: row;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px;
    }
  }

  .promo__img {
    width: 55px;
    margin-left: 91px;
    margin-right: 77px;
    margin-top: 65px;
  }

  .promo__slogan {
    color: @main-color;
    .arial(16px;20px;400);
    width: 170px;
    display: block;
    .auto-margin;
    margin-top: 72px;
    margin-bottom: 0;
    text-align: left;
    margin-left: 200px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    width: 245px;
    height: 290px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    margin-top: 156px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px;
    }
  }

  .promo__img {
    width: 55px;
    .auto-margin;
    margin-top: 65px;
  }

  .promo__slogan {
    width: 170px;
    display: block;
    .auto-margin;
    margin-top: 60px;
    margin-bottom: 0;
    text-align: center;
  }
}
