.promo {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  width: 280px;
  min-height: 289px;
  display: flex;
  flex-direction: column;
}

.promo__img {
  width: 55px;
  .auto-margin;
  margin-top: 50px;
}

.promo__slogan {
  .link-decor-off;
  color: @main-color;
  font-family: "Arial", sans-serif;
  width: 170px;
  display: block;
  .auto-margin;
  margin-top: auto;
  margin-bottom: 40px;
  text-align: center;
}
