.selection {
  .standard-padding;
}
.selection__invite {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-right: 10px;
  width: 250px;
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
}
.bio {
  .form-text;
}
.selection__comments-text {
  width: 280px;
  min-height: 150px;
}
.selection__note {
  text-align: center;
  .small-arial;
}
