.site-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.site-list__a{
    text-decoration: none;
    color: black;
}
.site-list__item {
    width: 320px;
    height: 65px;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid gray;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
}