.site-list {
  .ul-decor-off;
}

.site-list__a {
  .link-decor-off;
}

.site-list__item {
  width: 100%;
  height: 65px;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid @border-color;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  padding-top: 20px;
  box-sizing: border-box;
}

.site-list__item:last-child {
  border-bottom: 1px solid @border-color;
}


@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
  }

  .site-list__a {
    padding-bottom: 8px;
  }

  .site-list__item {
    width: auto;
    margin-top: 22px;
    margin-bottom: 20px;
    margin-left: 20px;
    border: none;
    .font(18px;25px;400);
    color: #222222;
    flex-grow: 1;
  }

  .site-list__item:last-child {
    padding-right: 20px;
    border:none;
  }

  .site-list__a--catalog {
    border-bottom: 1px solid @button-color;
  }

  .site-list__a--index {
    border-bottom: 1px solid @button-color;
  }

  .site-list__a--form {
    border-bottom: 1px solid @button-color;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    padding-top: 22px;
  }

  .site-list__item:first-child {
    margin-left: 46%;
  }

  .site-list__item {
    flex-grow: 0;
  }

  .site-list__a--index {
    color: @main-color;
    border-bottom: 1px solid @main-color;
    margin-right: 20px;
  }

  .site-list__a {
    .font(20px;25px;400);
    color: @main-color;
  }
}
