.social {
  padding-left: 20px;
  padding-right: 20px;
}

.social__list {
  .ul-decor-off;
  display: flex;
  flex-wrap: wrap;
  min-width: 180px;
  border-top: 1px solid @border-color;
  border-bottom: 1px solid @border-color;
  padding-top: 20px;
  padding-bottom: 14px;
  width: 100%;
}

.social__item {
  margin-right: 35px;
}

.social__item:first-child {
  margin-left: auto;
  margin-bottom: 10px;
}

.social__item:nth-child(2) {
  margin-top: 4px;
  margin-left: 2px;
}

.social__item:last-child {
  margin-right: auto;
}

.social__svg {
  fill: @secondary-text-color;

  &:hover {
    fill: @button-color;
    transition: 0.3s;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social {
    flex-grow: 100;
    padding-left: 0;
    padding-right: 0;
  }

  .social__list {
    border: none;
    margin-top: 25px;
    min-width: 150px;
    margin-left: 20px;
  }

  .social__item {
    margin-right: 21px;
  }

  .social__link-img {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .social {
    flex-grow: 0;
    padding-left: 0;
    padding-right: 0;
    width: 400px;
  }

  .social__list {
    padding-top: 22px;
    margin-left: 245px;
  }
}
