.switcher {
  display: flex;
  width: 200px;
  .auto-margin;
}

.switcher__bar {
  width: 85px;
  height: 12px;
  background: @main-color;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #bdbdbd;
  margin-top: 5px;
}

.switcher__bar-lever {
  width: 49%;
  height: 6px;
  background: @button-color;
  border: 3px solid white;
  border-radius: 5px;
}

.switcher__bar-lever--right {
  float: right;
}

.switcher__label {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.switcher__label--after {
  padding-left: 20px;
}

.switcher__label--before {
  padding-right: 20px;
}
