.welcoming {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 500px;
    background-image: 
        url(../img/index-can-mobile@1x.png),
        url(../img/index-background-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position:20px 200px, 0 0;
    .auto-margin;
    color: white;
}
.welcoming__header {
    text-align: center;
    width: 280px;
    font-weight: 400;
}
.welcoming__slogan {
    text-align: center;
}
.welcoming__button {
    margin-top: auto;
}